introspection_endpoint missing auth signing algorithm values

<!-- migrator:start -->
*This issue was originally created by [**@<!-- -->rabidpug**](https://github.com/rabidpug) at <https://github.com/matrix-org/matrix-authentication-service/issues/3126>.*

<!-- migrator:end -->
Hi,

I have started getting the following error and am unable to authenticate. The provider is Authelia's OIDC.

```shell
ERROR http.server.request{otel.kind="server" otel.name="GET /upstream/authorize/:provider_id" network.protocol.name="http" network.protocol.version="1.1" http.request.method="GET" url.path="/upstream/authorize/xxxxxxxxxxxx" url.scheme="http" http.route="/upstream/authorize/:provider_id" user_agent.original="Mozilla/5.0 (X11; Linux x86_64; rv:129.0) Gecko/20100101 Firefox/129.0"}:handlers.upstream_oauth2.authorize.get{upstream_oauth_provider.id=xxxxxxxxxxxxxxxxx}:metadata_cache.get{issuer=https://login.xxxxxx.xxx}:metadata_cache.fetch{issuer=https://login.xxxxxxx.xxx}: mas_handlers::upstream_oauth2::cache: crates/handlers/src/upstream_oauth2/cache.rs:195: error=introspection_endpoint missing auth signing algorithm values
```

Not sure if this is what it's referring to, but it appears signing alg RS256 is at least supported.
```shell
>  curl -fsSL https://login.xxxxxxxxx.xx/.well-known/openid-configuration | jq '. | with_entries(select(.key | startswith("introspection")))'
```
```json
{
  "introspection_endpoint": "https://login.xxxxxxxx.xxx/api/oidc/introspection",
  "introspection_endpoint_auth_methods_supported": [
    "client_secret_basic",
    "client_secret_post",
    "client_secret_jwt",
    "private_key_jwt"
  ],
  "introspection_signing_alg_values_supported": [
    "RS256",
    "none"
  ]
}
```

Let me know what other information you might need to understand the issue and I'll provide it.

Thanks!

Could this be re-visited and considered for re-opening? It seems that the situation isn't as simple as `introspection_endpoint_auth_signing_alg_values_supported` being the correct value and `introspection_signing_alg_values_supported` being incorrect.

There are two RFCs I found that reference these two properties:
- `introspection_signing_alg_values_supported` is specified in [RFC 9701
JSON Web Token (JWT) Response for OAuth Token Introspection](https://www.rfc-editor.org/rfc/rfc9701.html) (published Jan 2025, newer)
- `introspection_endpoint_auth_signing_alg_values_supported` is specified in [RFC 8414 OAuth 2.0 Authorization Server Metadata](https://www.rfc-editor.org/rfc/rfc8414) (Published Jun 2018, older)

RFC 9701 is newer and references RFC 8414, I will copy the relevant section here:

> [Authorization Server Metadata](https://www.rfc-editor.org/rfc/rfc9701.html#name-authorization-server-metada)
> 
> Authorization servers SHOULD publish the supported algorithms for signing and encrypting the JWT of an introspection response by utilizing ["OAuth 2.0 Authorization Server Metadata"](https://www.rfc-editor.org/rfc/rfc9701.html#RFC8414) [[RFC8414](https://www.rfc-editor.org/rfc/rfc9701.html#RFC8414)] parameters. Resource servers use this data to parametrize their client registration requests.
> 
> The following parameters are introduced by this specification:
> 
> introspection_signing_alg_values_supported
>     OPTIONAL. JSON array containing a list of the [JWS](https://www.rfc-editor.org/rfc/rfc9701.html#RFC7515) [[RFC7515](https://www.rfc-editor.org/rfc/rfc9701.html#RFC7515)] signing algorithms (alg values), as defined in [JWA](https://www.rfc-editor.org/rfc/rfc9701.html#RFC7518) [[RFC7518](https://www.rfc-editor.org/rfc/rfc9701.html#RFC7518)], supported by the introspection endpoint to sign the response.
> 

So an implementation following the newer RFC 9701 SHOULD include `introspection_endpoint_auth_signing_alg_values_supported`, but does not need to, and also may include `introspection_signing_alg_values_supported`.

A lot of this is way over my head, but it's not clear to me that an issue needs to be opened on the Authelia's end. Perhaps MAS just adheres to the older RFC8414 spec, in which case they are just incompatible and the workaround of `discovery_mode: insecure` is sufficient. Hopefully someone more knowledgeable can take a look and give a definitive answer.